.about-body {
    background-color: #ffffff;
}

.about-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
}

.about-heading {
    text-align: center;
    font-weight: 600;
    color: #006266;
    padding: 1rem;
    border-bottom: 5px solid #422930;
    border-radius: 8px;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}

.about-text {
    text-align: justify;
    margin: auto;
    font-family: Inter;
    margin-top: 1.2rem;
    font-size: 1.2em;
}

.experience-education-container {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 2rem;
}

.education-section,
.work-experience-section {
    width: 48%;
    text-align: justify;
}

.section-heading {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #c23616;
    padding-bottom: 5px;
    width: fit-content;
}

.experience h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.experience p {
    margin-bottom: 10px;
    line-height: 1.5;
}



@media (max-width: 600px) {
    .experience-education-container {
        flex-direction: column;
    }

    .education-section,
    .work-experience-section {
        width: 100%;
    }
}